<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Gemini</key>
	<dict>
		<key>Gemini7</key>
		<dict>
			<key>patchName</key>
			<string></string>
			<key>description</key>
			<string></string>
			<key>shortDescription</key>
			<string></string>
			<key>crew</key>
			<dict/>
			<key>dates</key>
			<string></string>
			<key>duration</key>
			<string></string>
		</dict>
		<key>Gemini5</key>
		<dict>
			<key>patchName</key>
			<string></string>
			<key>description</key>
			<string></string>
			<key>shortDescription</key>
			<string></string>
			<key>crew</key>
			<dict/>
			<key>dates</key>
			<string></string>
			<key>duration</key>
			<string></string>
		</dict>
		<key>Gemini4</key>
		<dict>
			<key>patchName</key>
			<string></string>
			<key>description</key>
			<string></string>
			<key>shortDescription</key>
			<string></string>
			<key>crew</key>
			<dict/>
			<key>dates</key>
			<string></string>
			<key>duration</key>
			<string></string>
		</dict>
		<key>Gemini8</key>
		<dict>
			<key>patchName</key>
			<string></string>
			<key>description</key>
			<string></string>
			<key>shortDescription</key>
			<string></string>
			<key>crew</key>
			<dict/>
			<key>dates</key>
			<string></string>
			<key>duration</key>
			<string></string>
		</dict>
		<key>Gemini6</key>
		<dict>
			<key>patchName</key>
			<string></string>
			<key>description</key>
			<string></string>
			<key>shortDescription</key>
			<string></string>
			<key>crew</key>
			<dict/>
			<key>dates</key>
			<string></string>
			<key>duration</key>
			<string></string>
		</dict>
		<key>Gemini9</key>
		<dict>
			<key>patchName</key>
			<string></string>
			<key>description</key>
			<string></string>
			<key>shortDescription</key>
			<string></string>
			<key>crew</key>
			<dict/>
			<key>dates</key>
			<string></string>
			<key>duration</key>
			<string></string>
		</dict>
		<key>Gemini10</key>
		<dict>
			<key>patchName</key>
			<string></string>
			<key>description</key>
			<string></string>
			<key>shortDescription</key>
			<string></string>
			<key>crew</key>
			<dict/>
			<key>dates</key>
			<string></string>
			<key>duration</key>
			<string></string>
		</dict>
		<key>Gemini11</key>
		<dict>
			<key>patchName</key>
			<string></string>
			<key>description</key>
			<string></string>
			<key>shortDescription</key>
			<string></string>
			<key>crew</key>
			<dict/>
			<key>dates</key>
			<string></string>
			<key>duration</key>
			<string></string>
		</dict>
		<key>Gemini12</key>
		<dict>
			<key>patchName</key>
			<string></string>
			<key>description</key>
			<string></string>
			<key>shortDescription</key>
			<string></string>
			<key>crew</key>
			<dict/>
			<key>dates</key>
			<string></string>
			<key>duration</key>
			<string></string>
		</dict>
	</dict>
	<key>Apollo</key>
	<dict>
		<key>Apollo1</key>
		<string></string>
		<key>Apollo7</key>
		<string></string>
		<key>Apollo8</key>
		<string></string>
		<key>Apollo9</key>
		<string></string>
		<key>Apollo10</key>
		<string></string>
		<key>Apollo11</key>
		<string></string>
		<key>Apollo12</key>
		<string></string>
		<key>Apollo13</key>
		<string></string>
		<key>Apollo14</key>
		<string></string>
		<key>Apollo15</key>
		<string></string>
		<key>Apollo16</key>
		<string></string>
		<key>Apollo17</key>
		<string></string>
	</dict>
	<key>Skylab</key>
	<dict>
		<key>Skylab1</key>
		<string></string>
		<key>Skylab2</key>
		<string></string>
		<key>Skylab3</key>
		<string></string>
	</dict>
	<key>New item</key>
	<string></string>
</dict>
</plist>
